* {
    margin: 0;
    padding: 0;
  }
  .AllLoading{
    display: flex;
    flex-direction: row;
    height: 500px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .imageLoader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dotted grey;
    height: 500px;
    align-items: center;
  }
  .infoLoader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    height: 500px;
    align-items: center;
  }
  .loader {
    margin-top: 15px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent 40%, skyblue);
    animation: move 0.8s linear infinite;
  }
  .loader::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 2;
  }
  .loader::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent 40%, skyblue);
    filter: blur(20px);
  }
  @keyframes move {
    to {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
  